* {
	padding: 0;
	margin: 0;
	border:0;
	line-height: 100%;
	font-family: Arial;
	box-sizing:border-box;
}

html,
body,
main {
	width: 100%;
	height: 100%;
}

main {
	display:block;
}